-e git+https://github.com/unmix-io/unmix-net@development#egg=unmix
flask
flask_cors
flask-restful
keras
tensorflow
numpy
psutil
commentjson
gitpython
colorama
progressbar2
mir_eval
pytube
librosa
gunicorn
scipy
pyyaml
h5py
matplotlib
pandas
scikit-learn
scikit-image
pyopenssl