-e https://github.com/unmix-io/unmix-net/tree/development/#egg=unmix
flask-restful
keras
tensorflow
numpy
psutil
commentjson
gitpython
colorama
progressbar2
mir_eval
pytube
librosa
gunicorn
flask_cors
scipy
pyyaml
h5py
matplotlib
pandas
scikit-learn
scikit-image